/* You can add global styles to this file, and also import other style files */
.note-card {
  width: 250px;
  height: auto;
  background-color: rgba(230, 230, 129, 0.651);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  transition: box-shadow .3s;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: inline-block;
}

.note-card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition:transform 0.2s ease-in-out;
  -ms-transition:transform 0.2s ease-in-out;
}
.delete-btn {
  color: #061529;
}

.delete-btn:hover {
  color: #747979;
}

.noteTitle {
  padding-bottom: 5px;
  border-bottom: 1px solid #aeaeae;
}

.delete-btn {
  float: right;
}

/*Notes editor*/
.notes-editor {
  margin-top: 25px;
}

.notes-form input {
  margin-bottom: 10px;
}

.color-set {
  padding: 10px 0;
  display: inline-block;
}

.color-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #aeaeae;
  margin-right: 4px;
}

.color-btn:hover {
  border: 1px solid #AD89AE;
  background-color: rgba(0,0,0,1);
}
