<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="row">
      <a routerLink="/notes" class="navbar-brand">draft<span class="logo-title">.</span></a>
      <div class=" navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/notes">board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/newnote">create</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="flex-container">
  <a routerLink="/notes" class="navbar-brand">draft<span class="logo-title">.</span></a>
  <ul>
    <li>
      <a routerLink="/notes">board</a>
    </li>
    <li>
      <a routerLink="/newnote">create</a>
    </li>
  </ul>
</div>



<div class="container">
      <router-outlet></router-outlet>
</div>
