<div>
  <div *ngIf="notes; else empty">
      <div
          *ngFor="let note of notes" class="note-card col-md-3"
         [ngStyle]="{'background-color': note.color}"
      >
        <span
          (click)="onDeletePosition($event, note)"
          class="delete-btn"
        >
          <i class="fas fa-times"></i>
        </span>
        <div>
          <h4 class="noteTitle">{{note.title}}</h4>
          <p>{{note.description}}</p>
          <p>{{note.date | date: 'dd.MM.yyyy HH.mm' }}</p>
        </div>
      </div>
  </div>
  <ng-template #empty>
    <p>Заметок нет</p>
  </ng-template>
</div>
