.note-card {
  margin: 0;
}

.notification {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 250px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification p{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.color-set {
  margin: 15px 0 0 10px;
}
.color-set div {
  display: inline-block;
}

.editor button {
  margin-top: -30px;
}



