
<div class="container notes-editor">
  <div class="row">
    <div class="col-4">

      <form [formGroup]="form" class="notes-from" (ngSubmit)="onSubmit()">
          <input type="text" class="form-control" formControlName="title" placeholder="Title">
          <input type="text" class="form-control" formControlName="description" placeholder="Description">
          <div *ngFor="let color of colors" class="color-set">
            <div class="color-btn" [ngStyle]="{'background-color': color}"></div>
          </div>

          <div>
            <button
              type="submit"
              class="btn btn-dark"
              [disabled]="form.invalid || form.disabled"
            >Save</button>
          </div>
      </form>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="note-card col-sm-6" [ngStyle]="{'background-color': form.value.color}">
          <div>
            <h4>{{form.value.title}}</h4>
            <p>{{form.value.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

